.hide,.used {
    transition: 0.01s;
    transform: translateX(-9999px);
}

body {
    background: url('../img/bg2.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    margin: 0 auto;
    min-height: 500px;
    min-width: 800px;
}
body.scoreBg {
    background: url('../img/bg-score.jpg') no-repeat center center;
    background-size: cover;
}
.screen2 {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.screen1 {
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.screen3 img {
    height: 100%;
}
.zhengjiaoname {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.zhengjiaoname .draggableElement2 {
    width: 60px;
}

.hide {
    display: none;
}
.header {
    background: url('../img/header.png') no-repeat;
    background-size: cover;
    width: 265px;
    height: 256px;
    position: relative;
    margin-bottom: 20px;
}
.fordragg {
    float: right;
    background: url('../img/leftbg.png') no-repeat center center / cover;
    height: 500px;
    width: 211px;
    padding: 50px;
    font-size: 25px;
    margin-right: 20px;
    color: #bf9000;
}

.draggableElement,.draggableElement2 {
    font-size: 25px;
    color: #bf9000;
}
.draggableElement2 {
    margin-right: 5px;
    z-index: 100;
    position: relative;
    font-weight: 700;
}
.dropZone2 {
    height: 40px;
    width: 40px;
    position: absolute;
}
.dropZone2 .draggableElement2 {
    line-height: 40px;
    text-align: center;
}

#zone1 {
    left: 81px;
    top: 64px;
}
#zone2 {
    left: 136px;
    top: 64px;
}
#zone3 {
    left: 55px;
    top: 107px;
}
#zone4 {
    left: 109px;
    top: 107px;
}
#zone5 {
    left: 165px;
    top: 107px;
}
#zone6 {
    left: 80px;
    top: 152px;
}

#zone7 {
    left: 136px;
    top: 152px;
}
.table {
    text-align: center;
    border-collapse:collapse;border:none;
    color: #000;
    font-size: 21px;
}
.table th,.table td {
    height: 39px;
    border: 1px solid #000;
    background-color: #fff;
}
.table th {
    background-color: #a8d18d;
    color: black;
}
.table .first {
    width: 50px;
}
.table .sceee {
    width: 50px;
}
.table .userfor {
    width: 200px;
}
.table td.green {
    background-color: #a8d18d;
}

.info {
    font-size: 24px;
    padding-left: 20px;
    width: 125px;
}
.info div {
    background-color: rgba(0,0,0,0.5);
}
.show_score_list {
    background: url(../img/scorelist.png) no-repeat center center / cover;
    width: 126px;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    margin-left: 15px;
}